<!DOCTYPE html>
<html>
    <head>
        <title>Afterimage</title>
    </head>
    <body>
        <form id="login" method="post" action='/login.html'>
            <input name='openid' id="openid" placeholder="OpenID" type="text">
            <button type="submit" id="submit">Log in</button>
        </form> 
    </body>
</html>
