<!DOCTYPE html>
<html>
    <head>
        <title>Afterimage</title>
    </head>
    <body>
        <div id=user_info>OpenId: <%= user.OpenId %></div>
        <a id="logout_link" href="/logout.html">Log out</a>
    </body>
</html>
